[ ca ]
default_ca		= CA_default

[ CA_default ]
dir			= ./
certs			= $dir
crl_dir			= $dir/crl
database		= $dir/index.txt
new_certs_dir		= $dir
certificate		= $dir/subca.pem
serial			= $dir/serial
crl			= $dir/crl.pem
private_key		= $dir/subca.key
RANDFILE		= $dir/.rand
name_opt		= ca_default
cert_opt		= ca_default
default_days		= 365
default_crl_days	= 30
default_md		= sha256
preserve		= no
policy			= policy_match

[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
prompt			= no
distinguished_name	= client
default_bits		= 768
input_password		= whatever
output_password		= whatever
x509_extensions		= v3_req

[client]
countryName		= FR
stateOrProvinceName	= Radius
localityName		= Somewhere
organizationName	= Example Inc.
commonName		= autotest5.vfidev.com

[v3_req]
basicConstraints 	= CA:FALSE
keyUsage 		= digitalSignature, nonRepudiation, keyEncipherment
subjectAltName		= @alt_names

[alt_names]
DNS.1 = wgtest.tesco.com
IP.1 = 127.0.0.1
