[ ca ]
default_ca		= CA_default

[ CA_default ]
dir			= ./
certs			= $dir
crl_dir			= $dir/crl
database		= $dir/index.txt
new_certs_dir		= $dir
certificate		= $dir/subca.pem
serial			= $dir/serial
crl			= $dir/crl.pem
private_key		= $dir/subca.key
RANDFILE		= $dir/.rand
name_opt		= ca_default
cert_opt		= ca_default
default_days		= 365
default_crl_days	= 30
default_md		= sha256
preserve		= no
policy			= policy_match
x509_extensions		= v3_ext

[ policy_match ]
countryName		= supplied
stateOrProvinceName	= supplied
organizationName	= supplied
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
prompt			= no
distinguished_name	= subca
default_bits		= 2048
input_password		= whatever
output_password		= whatever
x509_extensions		= v3_ca

[subca]
countryName		= US
stateOrProvinceName	= Illinois
localityName		= Chicago
organizationName	= Demo Org
emailAddress		= admin@example.com
commonName		= "subca"

[v3_ca]
subjectKeyIdentifier	= B677FA6948479F5312D5C2EA07327607D1970719
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints	= CA:true

